*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('images/b3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}
.site-headers{
    width: fit-content;
    height: 100vh;
    clip-path: polygon(0% 0%, 100% 0% ,100% 75%, 0% 100%);
    background-image:linear-gradient(rgba(0, 0, 0, 0.424),rgba(0,0,0,0.5)),  url('images/front.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
nav{
    width:100% ;
    height: 100px;
    display: flex;
    color: white;

}
.logo{
    width: 50%;
    height: 100px;

}
.logo h1{
    line-height:100px;
    margin-left: 50px;
}
.nav-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
.nav-links li{
    list-style: none;
   
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 20px 5px 20px;


}
#active{
    background-color: white;
    color: #00c6a7;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

section{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.leftside{
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;

}
.leftside img{
    width: 500px;
    height: auto;
}
.rightside{
    overflow: hidden;
    
}
.rightside h1{
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(left ,#1CD8D2, #93F9B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rightside p{
    margin-left: 40px;
    color: thistle;
    font-size: 20px;
    margin-bottom: 40px;
}
.rightside button{
    position: relative;
    overflow: hidden;
    padding: 5px 50px 5px 50px;
    margin-left: 40px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.menu ul li:hover{

    background-color: white;
    color: #00c6a7;
    transition: 0.8s ease;

}
.rightside button:hover{
    background-color: wheat;
    color:green;
    transition: 0.5s ease;
}
.overall{
    position: relative;
    display: flex;
}

.page{
    width: 100%;
    position: absolute;
    overflow: auto;
    height: 200vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url('images/pageback.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    clip-path: polygon(100% 0%, 0% 12.5% , 0% 100% , 100% 87.5%);
}
.c1{
    width: 50%;
    height: 200vh;
    margin-left: 5%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),  url('images/c1back.jpg');  
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(100% 0%, 0% 6.25% , 0% 100% , 100% 93.75%);
    z-index: 1;
    
}
.end{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),  url('images/front.jpg');
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(100% 0%, 0% 25.5% , 0% 100% , 100% 100%);
    display: flex;

}   
.c2{
    margin-right: 10px;
    margin-left: 60%;
    margin-top: 20%;
}
.c2 h1{
    font-size: 60px;
    background: -webkit-linear-gradient(left ,#ff8008, #ffc837);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.c2 p{
    margin-top: 50px;
    color:wheat ;
    width: auto;
    
}

.end{
    position: absolute;
}
.left{
    width: 50%;
    height: 98vh;
    margin-left: 5%;
    background:  url('images/c1back.jpg');  
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(100% 0%, 0% 12.5% , 0% 100% , 100% 100%);
    z-index: 9;
    position: absolute;
}
#button{
    position: relative;
    overflow: hidden;
    padding: 5px 50px 5px 50px;
    margin-left: 40px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}
.box{
    margin-top: 40%;
    margin-left:10%;
}
.box h1{
    font-size: 50px;
    color: violet;
    margin-bottom: 40px;
    cursor:grab;

}
form{
    text-align: center;
    vertical-align: middle;
    overflow: auto;
    border-radius: 10px;
    border: 3px solid lightskyblue;
    margin-top: 20%;
    margin-right: 60px;
}
.c1 .box p{
    color:white;
}   
#name{
    width: 90%;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
    border-radius: 10px;
    background: transparent;
    border: 1px solid white;
    height: 40px;
    color: white;

}
#sugg{
    width: 90%;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-top: 10px;

}
form h3{
    text-align: center;
    font-size: 50px;
    background: -webkit-linear-gradient(left ,#ff8008, #ffc837);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#suggsubmit{
    width: 90%;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid white;
    height: 40px;
    margin-bottom: 10%;
    cursor: pointer;
}
.c2 .downloads{
    margin-top: 20%;
}
.c2 .downloads h3{
    text-align: center;
    color: yellow;
    font-size: 50px;
}
.c2 .downloads .videosub{
    display: flex;
    margin: 30px;
}
#videoid{
    border-radius: 10px;
    width: 40%;
    margin-right: 10px;
    padding-left: 10px;
}
#videoidsub{
    width: 20%;
    height: 40px;
    cursor: pointer;
}
#videoidsub{
    border-radius: 10px;
    background-color: violet;
    border: 1px solid white;
}
#videoidsub:hover{
    background-color: #fff;
    color: rgb(1, 255, 86);
    transition: 0.5s ease;
}
#suggsubmit:hover{
    background-color: rgb(77, 74, 253);
    color: rgb(255, 255, 255);
    transition: 0.5s ease;


}
.tellme{
    margin-top: 20%;
    margin-left: 10%;
}
.end .righton .social .comment a img{
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer;

}
section .righton{
    width: 100%;
    height:auto;
    margin-top: 20%;

}
section div .social{
    height: 100px;
    width: 100%;
    display: block;
    position: absolute;
    background-color: #2a2a72;
    background-image: linear-gradient(rgba(167, 236, 253, 0.5),rgba(146, 236, 251, 0.5));
    bottom: 0%;
}
.end .righton .social .comment{
    position: absolute;
    right: 0px;
    display: flex;
}
.end .righton .social .comment div{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
}
#button:hover{
    background: rgb(255, 198, 41);
    transition: 0.5s ease;
}
.end .righton .social .comment a img:hover{
    background: white;
    border-radius: 50%;
}
.bottom{

    width: 100%;
    height: 100vh;
}
.me{
    display: none;
}

/*adding media query and making it responsible for android phones*/
@media screen and (max-width: 480px) {
    .site-headers{
        height: 80vh;
        clip-path: polygon(100% 0%, 0% 0% , 0% 100% , 100% 90%);

    }
    .rightside p{
        display: table;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: center;
    }
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
      background-color: #2a2a72;
      height: 10vh;
      background-image: linear-gradient(rgba(167, 236, 253, 0.5),rgba(146, 236, 251, 0.5));
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 3;
    }
    .logo{
        margin-left: 0;
        height: 10vh;
        position: absolute;
        justify-content: space-around;

   
    } 
    .logo h1{
        margin: 0px;
        padding: 0px;
        height: 10vh;
        padding: 0px 10px;
    }
    .leftside{

        display: none;
    } 
    .rightside h1{
        margin-top: 5px;
        text-align: center;
        font-size: 50px;
    }
    .rightside p{
        font-size: 15px;
    }
    .overall{
        flex-direction: column;
        position: relative;
        margin-top: 10vh;

    }
    .c1{
        width: 100%;
        height: 100vh;
        margin-left: 0px;
        clip-path: polygon(100% 0%, 0% 10% , 0% 100% , 100% 90%);
        background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),  url('images/c1back.jpg');  
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 0;
        
    }
    .bottom{
        margin-top: 200vh;
    }
    .page{
        margin-top: 100vh;
        clip-path: polygon(100% 0%, 0% 5% , 0% 100% , 100% 95%);
    }
    .box{
        margin-left: 0px;
        margin-top: 20%;
        text-align: center;
        font-size: 15px;
        position: relative;
    }
    .box h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .box p{
        margin-top: 10px;
        display: table;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: center;
    }
    .box form{
        margin-top: 20px;
        height: auto;
        font-size: 20px;
        width: 100%;
        vertical-align: middle;
        overflow:auto;
    }
    .box form h3{
        font-size: 20px;
        margin: 0;

    }
    .input{
        margin-bottom: -10px;
    }
    #suggsubmit{
        margin-bottom: 10px;
    }
    .c2{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        margin-top: 20vh;
    }
    .c2 h1{
        font-size: 40px;
    }
    .c2 p{
        font-size: 20px;
    }
    .c2 a{
        text-decoration: none;
    }
    #button{
        margin-left: auto;
        margin-right: auto;
        vertical-align: center;
        display: table;
        font-size: 20px;
        padding: 10px;
    }
    .downloads p{
        display: table;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: center;
        height: auto;
    }
    .end{

        vertical-align: middle;
        margin-top: 320vh;
        clip-path: polygon(100% 0%, 0% 10% , 0% 100% , 100% 100%);

    }
    .left{
        position: absolute;
        margin-bottom: 100vh;
        width: 100%;
        margin-left: 0px;
        margin-top: 220vh;
        clip-path: polygon(100% 0%, 0% 10% , 0% 100% , 100% 90%);
    }
    .bottom-p{
        height: 200vh;
        flex-direction: column;
        position: relative;
    }
    .tellme{
        vertical-align: middle;
        margin-top: 30%;
    }
    .end .righton .social .comment a img{
        width: 30px;
        height: auto;
    }
    .me{
        width: 90%;
        height: auto;
        margin-top: 40%;
        font-size: 20px;
        color:white;
        margin-left: 5%;
        display: block;
    
    }

    .nav-links li{
        list-style: none;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        border: 0px;
        padding: 0px;
    
    
    }
    #active{
        background-color:transparent;
        color: white;
    }
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        margin-top: 10vh;
        height: 62vh;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        z-index: 1;
        transition: transform 0.5s ease-in;

    }
    .nav-active{
        transform: translateX(0%);
    }



}

