*{
    margin: 0;
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('../images/b3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

nav{
    width:100% ;
    height: 100px;
    display: flex;
    color: white;
    background-color: rgb(241, 161, 56);

}
.logo{
    width: 50%;
    height: 100px;

}
.logo h1{
    line-height:100px;
    margin-left: 50px;
}
.nav-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
.nav-links li{
    list-style: none;
   
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 20px 5px 20px;


}
#active{
    background-color: white;
    color: #00c6a7;
}

.nav-links a {
    text-decoration: none;
    color: white;
}
.nav-links li:hover{

    background-color: white;
    color: #00c6a7;
    transition: 0.8s ease;

}

.end{
    position: absolute;
}
.tellme{
    margin-top: 20%;
    margin-left: 10%;
}
.end .righton .social .comment a img{
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer;

}
section .righton{
    width: 100%;
    height:auto;
    margin-top: 20%;

}
section div .social{
    height: 100px;
    width: 100%;
    display: block;
    position: absolute;
    background-color: #2a2a72;
    background-image: linear-gradient(rgba(167, 236, 253, 0.5),rgba(146, 236, 251, 0.5));
    bottom: 0%;
}
.end .righton .social .comment{
    position: absolute;
    right: 0px;
    display: flex;
}
.end .righton .social .comment div{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
}
#button:hover{
    background: rgb(255, 198, 41);
    transition: 0.5s ease;
}
.end .righton .social .comment a img:hover{
    background: white;
    border-radius: 50%;
}
.bottom{

    width: 100%;
    height: 100vh;
}
.me{
    display: none;
}
.my_photo img{
    height: 300px;
    margin-left: 15%;
    border-radius: 50%;

}
.profile_border{
    margin:1% 5%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
    border: 2px solid white;
}
.profile div{
    display: flex;
    align-items: center;
    height: 100vh;
}
.my_details p{
    margin-left: 10%;
    margin-right: 5%;
    font-size: 25px;
    color: rgb(255, 255, 255);

}
.hire{
    margin:5% 5% 1% 5%;
    padding: 20px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
    border: 2px solid white;
    
}
.form_hire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}
.hire_inside_box{
    display: flex;
}
.hire_inside_box p{
    font-size: 25px;
    width: 60%;
    color: white;
}
.hire h1{
    margin-bottom: 60px;
    color: rgb(58, 255, 222);
    text-align: center;

}
#form_email{
    width: 130%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
#form_write{
    width: 130%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    background: transparent;
    resize: none;
    color: white;
    border: 1px solid white;
}
#form_submit{
    width: 130%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    background: rgb(75, 255, 135);
    resize: none;
    color: white;
    border: 1px solid white;
    height: 30px;
}

/* media query ----------------------------------------------------------- */


@media screen and (max-width: 1200px) {

    .site-headers{
        height: 15vh;
        clip-path: polygon(100% 0%, 0% 0% , 0% 100% , 100% 100%);
        border-radius: 0px 0px 10px 10px;
    }
    .rightside{
        margin-top: 5vh;
    }
    .rightside p{
        display: table;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: center;
    }
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
        position: relative;
      background-color: #2a2a72;
      height: 10vh;
      background-image: linear-gradient(rgba(167, 236, 253, 0.5),rgba(146, 236, 251, 0.5));
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 3;
    }
    .logo{
        margin-left: 0;
        height: 10vh;
        position: absolute;
        justify-content: space-around;

   
    } 
    .logo h1{
        margin: 0px;
        padding: 0px;
        height: 10vh;
        padding: 0px 10px;
    }
    .leftside{

        display: none;
    } 
    .rightside h1{
        margin-top: 5px;
        text-align: center;
        font-size: 50px;
    }
    .rightside p{
        font-size: 15px;
    }
    .nav-links li{
        list-style: none;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        border: 0px;
        padding: 0px;
    
    
    }
    #active{
        background-color:transparent;
        color: white;
    }
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        margin-top: 12vh;
        height: 62vh;
        width: 80%;
        left: 10%;
        transform: translateX(150%);
        border-radius: 15px;
        background-color: rgb(243, 201, 63);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        transition: transform 0.5s ease-in;

    }
    .nav-links.open{
        transform: translateX(0%);
    }
    /* creating more bigtext and alignment */
    .rightside p{
        font-size: 20px;
    }
    .rightside button{
        font-size: 20px;
        padding: 3px 30px;
        border-radius: 5px;
    }
    .my_photo img{
        height: 100px;
    }
    .profile_border{
        flex-direction: column;
    }
    .my_details p{
        font-size: 20px;
    }
    .my_details{
        margin-top: 10px;
    }.my_photo{
        width: 100%;
    }
    .my_photo img{
        width: 300px;
        height: auto;
    }
    .profile{
      margin-top: -60vh;
    }
    .hire_inside_box{
        flex-direction: column;

    }
    .hire_inside_box p{
        margin-bottom: 20px;
        font-size: 20px;
        width: 100%;
    }
    .site-headers{
        height: 80vh;
        z-index: 3;
    }
    #form_email{
        width: 100%;
    }
    #form_write{
        width: 100%;
    }
    #form_submit{
        width: 100%;
    }
    .form_hire{
        margin-left: 10px;
    }






}